.expressive-code pre {
  min-height: 225px !important;
}

[data-has-hero] .page .hero {
  display: none;
}

[data-has-hero] .page {
  justify-content: center;
}

[data-has-hero] .tablist-wrapper ul li a:not([aria-selected="true"]) {
  @apply !text-white;
}

[data-has-hero] .tablist-wrapper ul li a[aria-selected="true"] {
  @apply !text-cyan-200;
}

[data-theme="light"] [data-framework] .tablist-wrapper ul li a:not([aria-selected="true"]) {
  @apply !text-cyan-500;
}

[data-theme="light"] [data-framework] .tablist-wrapper ul li a[aria-selected="true"] {
  @apply !text-black;
}

[data-has-hero] .page {
  animation: moveBackground 20s infinite ease-in-out;
}

@keyframes moveBackground {
  0% {
    background-position:
      0 0,
      -60vw -40vh;
  }
  50% {
    background-position:
      0 -50px,
      -30vw -20vh;
  }
  100% {
    background-position:
      0 0,
      -60vw -40vh;
  }
}

@media (prefers-reduced-motion) {
  .page {
    animation: none;
  }
}

[data-pkg-manager-install] {
  @apply relative overflow-hidden;
}

[data-pkg-manager-install]:before {
  @apply rounded-md absolute w-[200vw] h-[200vh];
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  background: conic-gradient(transparent 45%, #22d3ee, transparent 60%) rgba(34, 211, 238, 0.15);
  animation: rotateBackground 10s infinite linear;
}

@keyframes rotateBackground {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
