/* Dark mode colors. */
:root {
  --sl-color-accent-low: #00283a;
  --sl-color-accent: #0073a0;
  --sl-color-accent-high: #8dd2fb;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #e9eef8;
  --sl-color-gray-2: #bcc2ce;
  --sl-color-gray-3: #808ca2;
  --sl-color-gray-4: #4e586d;
  --sl-color-gray-5: #2f384b;
  --sl-color-gray-6: #1e2739;
  --sl-color-black: #141821;
}
/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #acdffd;
  --sl-color-accent: #0075a3;
  --sl-color-accent-high: #00374f;
  --sl-color-white: #141821;
  --sl-color-gray-1: #1e2739;
  --sl-color-gray-2: #2f384b;
  --sl-color-gray-3: #4e586d;
  --sl-color-gray-4: #808ca2;
  --sl-color-gray-5: #bcc2ce;
  --sl-color-gray-6: #e9eef8;
  --sl-color-gray-7: #f4f6fb;
  --sl-color-black: #ffffff;
}
